<%
  tables = measure('OEDB_NUM_TABLES')
  sequences = measure('OEDB_NUM_SEQUENCES')
  fields = measure('OEDB_NUM_FIELDS')
  indexes = measure('OEDB_NUM_INDEXES')

  if (tables && sequences)
%>

  <table width="100%">
   <tbody>
     <tr>
       <td valign="top" width="48%" nowrap>
         <div class="dashbox">
           <p class="title">Tables</p>
           <p>
             <span class="big"><%= format_measure(tables) -%></span> <%= trend_icon(tables) %>
           </p>
           <p><%= format_measure(fields, :suffix => ' fields') -%> <%= trend_icon(fields) %></p>
           <p><%= format_measure(indexes, :suffix => ' indexes') -%> <%= trend_icon(indexes) %></p>
         </div>
       </td>
       <td width="10"> </td>
       <td valign="top">
         <div class="dashbox">
           <p class="title">Sequences</p>
           <p>
             <span class="big"><%= format_measure(sequences) -%></span> <%= trend_icon(sequences) %>
           </p>
         </div>
       </td>
     </tr>
   </tbody>
  </table>
<% end %>
